{% extends 'changer/base.html' %}
	{% block content %}
	<div class="flex">
        
        <div class='col'>
            <p class='h1'>Вы отдаете</p>
        	<p class="bord">first line</p>
        	<p class="bord">second line</p>
        	<p class="bord">first line</p>
        	<p class="bord">second line</p>
        	<p class="bord">first line</p>
        	<p class="bord">second line</p>
        	<p class="bord">first line</p>
        	<p class="bord">second line</p>
        	<p class="bord">first line</p>
        	<p class="bord">second line</p>
        	<p class="bord">first line</p>
        	<p class="bord">second line</p>
        	<p class="bord">first line</p>
        	<p class="bord">second line</p>
        	<p class="bord">first line</p>
        	<p class="bord">second line</p>
        </div>

        <div class="col ord">
            <p class='h1'>Детали обмена</p>
        	<form class="details">
        		<p><label>Отдаете сумму</label></p>
        		<p><input></p>
        		<p><label>Получаете сумму</label></p>
        		<p><input></p>
        		<center>
        			<p><label>Нажимая кнопку обменять, я соглашаюсь с <a href=#>Правилами</a></label></p>
        			<button type="submit">ОБМЕНЯТЬ</button>
        		</center>

        	</form>
        </div>

        <div class="col">
            <p class='h1'>Вы получаете</p>
        	<p class="bord">first line</p>
        	<p class="bord">second line</p>
        	<p class="bord">first line</p>
        	<p class="bord">second line</p>
        	<p class="bord">first line</p>
        	<p class="bord">second line</p>
        	<p class="bord">first line</p>
        	<p class="bord">second line</p>
        	<p class="bord">first line</p>
        	<p class="bord">second line</p>
        	<p class="bord">first line</p>
        	<p class="bord">second line</p>
        	<p class="bord">first line</p>
        	<p class="bord">second line</p>
        	<p class="bord">first line</p>
        	<p class="bord">second line</p>
        </div>
    </div>
	{% endblock %}